In [1]:
print('Hello world')

Hello world

In [2]:
print('My name is Anita')

My name is Anita

In [40]:
text = 5/6
text = 5+37
text = text + 54

In [41]:
print(text)

96

In [34]:
afa = 'glowrie, 7'

In [35]:
print(afa)

glowrie, 7

In [51]:
#list: It is an ordered sequence of items. it allows duplicates, it is flexible, changeable and do not need to be of the same type.
it is represented with [] square bracket.

SyntaxError: invalid syntax (3528230389.py, line 2)

In [87]:
A = [5.5,1,'twinkas','nkechi',56,98.12,'to', 'garri']

In [88]:
print(A)

[5.5, 1, 'twinkas', 'nkechi', 56, 98.12, 'to', 'garri']

In [89]:
print(len(A))

8

In [90]:
print(A[3])

nkechi

In [91]:
A[3] = 'garri'

In [92]:
print(A)

[5.5, 1, 'twinkas', 'garri', 56, 98.12, 'to', 'garri']

In [93]:
A[:2]

[5.5, 1]

In [94]:
A[4:]

[56, 98.12, 'to', 'garri']

In [96]:
A[2:5]

['twinkas', 'garri', 56]

In [ ]:
#Tuple: It is an ordered sequence of items same as list. They only difference is that it is IMMUTABLE i.e it cannot be modified
         once created. It is represented with parenthesis ()

In [100]:
Jagaban = ('old', 'drug lord', 15, 18)

In [102]:
print (Jagaban)

('old', 'drug lord', 15, 18)

In [105]:
Jagaban[2] #indexing

15

In [106]:
Jagaban[1:] #To print out range

('drug lord', 15, 18)

In [107]:
Jagaban[1] = 5

TypeError: 'tuple' object does not support item assignment