In [2]:
len ('value')

5

In [1]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

app_data_set = [row_1, row_2, row_3, row_4, row_5]
avg_rating = (app_data_set[0][-1] + app_data_set[1][-1] +
              app_data_set[2][-1] + app_data_set[3][-1] +
              app_data_set[4][-1]) / 5

print(avg_rating)

4.3

In [1]:
#LISTS
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
print(row_1)
print(type(row_1))

['Facebook', 0.0, 'USD', 2974676, 3.5]
<class 'list'>

In [3]:
personal_apps = 0
personal_apps += 1.99
gift_apps = 6.99
gift_apps *= 3
print(personal_apps)
print(gift_apps)

1.99
20.97

In [2]:
#LEN FUNCTION is used to know the length Data points in a list.

row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
empty_row = []
print(len(row_2))
print(len(empty_row))
row_2_length = 5
empty_row_length = 0
print(row_2_length)
print(empty_row_length)

5
0
5
0

In [5]:
int(55.8)

55

In [3]:
#INDEXING is used to call an element in a list.In Python, we have two indexing systems for lists:

#Positive indexing: the first element has the index number 0, the second element has the index number 1, and so on.
#Negative indexing: the last element has the index number -1, the second to last element has the index number -2, and so on.

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
print(row_1[4])
print(row_2[4])
print(row_3[4])
ratings_1 = 2974676
ratings_2 = 2161558
ratings_3 = 2130805
total = 2974676 + 2161558 + 2130805
print(total)
average = (total)/3
print(average)

3.5
4.5
4.5
7267039
2422346.3333333335

In [4]:
#Negative Indexing

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
rating_1 = row_1[-1]
rating_2 = row_2[-1]
rating_3 = row_3[-1]
total_rating = 3.5 + 4.5 + 4.5
print(total_rating)
average_rating = (total_rating)/3
print(average_rating)

12.5
4.166666666666667

In [7]:
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]

fb_rating_data = [row_1[0], row_1[3], row_1[-1]]
print(fb_rating_data)

['Facebook', 2974676, 3.5]

In [8]:
#INDEXING CONTD
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
fb_rating_data = [row_1[0], row_1[-2], row_1[-1]]
insta_rating_data = [row_2[0], row_2[-2], row_3[-1]]
minecraft_rating_data = [row_5[0], row_5[-2], row_5[-1]]
total_rating = row_1[-1] + row_2[-1] + row_5[-1]
print(total_rating)
average_rating = total_rating/3
print(average_rating)

12.5
4.166666666666667

In [12]:
#LIST SLICING
row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
last_3_fb = (row_1[-3:])
minecraft_3_4 = (row_5[2:-1])
print(last_3_fb)
print(minecraft_3_4)

['USD', 2974676, 3.5]
['USD', 522012]

In [13]:
#LIST OF LISTS is a list that contains other lists

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
games_apps = [row_3, row_4, row_5]
print(games_apps)

[['Clash of Clans', 0.0, 'USD', 2130805, 4.5], ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5], ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]]

In [14]:
#LIST OF LISTS SLICING

row_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
row_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
row_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
row_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
row_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
app_data_set = [row_1, row_2, row_3, row_4, row_5]
avg_rating = (app_data_set[0][-1] + (app_data_set[1][-1] + (app_data_set[2][-1] + (app_data_set[3][-1] + (app_data_set[4][-1]))))) / 5
print(avg_rating)

4.3

In [6]:
if 5 > 2:
    print("five is greater than two")

five is greater than two

In [8]:
motto = 'Facebook\'s new motto is "move fast with stable infra".'
print(motto)

Facebook's new motto is "move fast with stable infra".

In [10]:
#concatenation: When we have two or more distinct strings, it's possible to link them using the + operator:

print('a' + 'b')
print('a' + ' ' + 'b')
print('This' + 'is' + 'a' + 'sentence.')
print('This' + ' ' + 'is' + ' ' + 'a' + ' ' + 'sentence.')



#We call the process of linking two or more strings together concatenation.
#We can also concatenate a string with one or more copies
#of itself using the * operator followed by a number that specifies how many times to multiply the string:

ab
a b
Thisisasentence.
This is a sentence.

' We call the process of linking two or more strings together concatenation.\nWe can also concatenate a string with one or more copies\nof itself using the * operator followed by a number that specifies how many times to multiply the string: '

In [11]:
#multiple strings
motto = '''Facebook's old motto was 'move fast and break things'. 
Facebook's new motto is 'move fast with stable infra'.'''


print(motto)

Facebook's old motto was 'move fast and break things'.
Facebook's new motto is 'move fast with stable infra'.

In [6]:
facebook = "Facebook's rating is"
fb_rating_str = "3.5"
fb = "Facebook's"  +  ' '  +  "rating"     +  ' ' +  "is" + ' '      +       "3.5"
print(fb)

Facebook's rating is 3.5

In [7]:
round(99.99)

100

In [7]:
#conversion
facebook = "Facebook's rating is"
fb_rating = 3.5
fb_rating_str = str(3.5)
fb = "Facebook's" + ' ' + "rating" + ' ' + "is" + ' ' + "3.5"
print(fb)

Facebook's rating is 3.5

In [22]:
X = 'Agbaya'
Y = 'Hello world'
print (X)
print (Y)

Agbaya
Hello world

In [23]:
x = 4
x = 'Abubakar'
print(x)

Abubakar

In [8]:
print ("X, Y")

X, Y

In [13]:
#PRINT ('HELLO WORLD')
print ('Hello, world!')

Hello, world!

In [15]:
#This is a comment
#Written in
#more than
#just one line
print ('Hello, world!')

Hello, world!

In [16]:
"""
This is a comment
written in 
more than just one line
"""
print ('Hello,world!')

Hello,world!

In [31]:
#casting is used to specify the data type of a variable.
x = str(3)
x = int(3)
x = float(3.0)
print(x)

3.0

In [36]:
#type() is used to get the data type of any variable
x = 4.6
y = 'John'
print(type(x))
print(type(y))

<class 'float'>
<class 'str'>

In [37]:
x = 'John'
x = "John"
print(x)

John

In [38]:
#Variable names are case sensitive
q = 7
Q = 'Sandro'
print(q)

7

In [41]:
#Legal variable names
myvar = 'james'
_my_var = 'john'
MYVAR ='John'
myvar2 = 'John'
print(_my_var)

john

In [42]:
#Illegal variable names
2myvar = 'john'
-myvar = 'john'
my Var = 'john'
print(my Var)

SyntaxError: invalid syntax (2835172853.py, line 2)

In [43]:
"""
Multi Words Variable Names
Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

Camel Case
Each word, except the first, starts with a capital letter:
"""
myVariableName = 'john'
print(myVariableName)

john

In [44]:
#Pascal Case
#Each word starts with a capital letter:
MyVariableName = 'james'
print(MyVariableName)

james

In [45]:
#Snake Case
#Each word is separated by an underscore character:
my_variable_name = 'sandro'
print(my_variable_name)

sandro

In [46]:
#Many Values to Multiple Variables
#Python allows you to assign values to multiple variables in one line:
x, y, z = 'i am a girl', '5.50', 'Kosi is our facilitator'
print(x)
print(y)
print(z)

i am a girl
5.50
Kosi is our facilitator

In [3]:
passwordFile = open('secretpasswordFile.txt')
secretPassword = passwordFile.read()
print('Enter your password.')
typedPassword = input()
if typedPassword == secretPassword:
    print('Access granted')
    if typedPassword == '12345':
        print('That password is one that an idiot puts on their luggage')
    else:
        print('Access denied')

FileNotFoundError: [Errno 2] No such file or directory: 'secretpasswordFile.txt'

In [4]:
#One Value to Multiple Variables
#And you can assign the same value to multiple variables in one line:
X = Y = Z = 'Maggot'
print(X)
print(Y)
print(Z)

Maggot
Maggot
Maggot

Orange
Orange
Orange

In [1]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)

apple
banana
cherry

In [5]:
#list is represented with [], is mutable and can be changed
A = [1,2,6,0.23,"Forgive","let go"]

In [6]:
print(A)

[1, 2, 6, 0.23, 'Forgive', 'let go']

In [8]:
print(len(A))

6

In [10]:
print(A[5])

let go

In [11]:
A[5] = "forgive and forget"

In [12]:
print(A)

[1, 2, 6, 0.23, 'Forgive', 'forgive and forget']

In [15]:
print(A[2:5])

[6, 0.23, 'Forgive']

In [22]:
#Tuple is represented with () bracket, is not mutable and cannot be changed
Gbenga = (30.5,"glory to God","glassy",21,"mind")

In [23]:
print(Gbenga)

(30.5, 'glory to God', 'glassy', 21, 'mind')

In [24]:
#indexing
Gbenga[1]

'glory to God'

In [28]:
#reference
Gbenga[1:]

('glory to God', 'glassy', 21, 'mind')

In [2]:
#FOR LOOP:  which helps us repeat a process hundreds, thousands, or even millions of times. 
app_names = ['Facebook', 'Instagram', 'Clash of Clans', 'Fruit Ninja Classic', 'Minecraft: Pocket Edition']
for element in app_names:
    print(element)

Facebook
Instagram
Clash of Clans
Fruit Ninja Classic
Minecraft: Pocket Edition

In [13]:
value_1 = ['Facebook', 0.0, 'USD', 2974676, 3.5]
value_2 = ['Instagram', 0.0, 'USD', 2161558, 4.5]
value_3 = ['Clash of Clans', 0.0, 'USD', 2130805, 4.5]
value_4 = ['Fruit Ninja Classic', 1.99, 'USD', 698516, 4.5]
value_5 = ['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

app_data_set = [row_1, row_2, row_3, row_4, row_5]

for value in app_data_set:
    rating = value[-3]
    print(rating)

USD
USD
USD
USD
USD

In [12]:
for row in app_data_set:
    print(value)

['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]
['Minecraft: Pocket Edition', 6.99, 'USD', 522012, 4.5]

In [15]:
Gbenga = ['car', 'german', 87.90, 'colgate']
House = ['clock', 'clan', 90.56, 'face']
Ascend = ['company', 'coach', 58, 'scent']
Data_set = [Gbenga, House, Ascend]
for n in Data_set:
    print(n)

['car', 'german', 87.9, 'colgate']
['clock', 'clan', 90.56, 'face']
['company', 'coach', 58, 'scent']